// CLASE BASE

.boton{
	width: 100px;
	height: 40px;
	font-size:20px;
	color:black;
	background-color: white;
	border:1px solid black;
	border-radius: 20px;
}
// EXTENDER CLASE BASE
.boton-aceptar{
	@extend .boton;
	background-color:darkgreen;
	color: white;
	border:1px solid lightgreen;
	padding: 5px;
}
.boton-cancelar {
	@extend .boton;
	background-color:red;
	color: white;
	border:1px solid red;
}