// VARIABLES SASS
$ff-primaria: 'comic sans ms';
main {
	background-color: lightblue;
	.encabezado{
		text-align: left;
		@media only screen and (max-width: 768px){
			h1{
				padding: 20px;
				font:{
					size:50px;
					family:$ff-primaria;
					weight:bold;
				}
			}
		}
	}
}
